body{

    background-color: black;
}

.btn1{

    background: black;
    color: yellow;
    float: right;
    height: 200px;
    width: 200px;
    margin: 5% 10%;
    border-radius: 50%;
    border-color: yellow;
}

.btn1:hover{
    box-shadow: 0px 2px 10px 15px yellow;
    border-color: yellow;
    
}

.default{

    color: aliceblue;
    text-shadow: 2px 2px 2px blue;
}

.info{

    padding: 5% 3%;
    margin-right:50% ;
}

h3{
    font-size: 50px;
    color: aliceblue;
    text-shadow: 6px 6px 8px yellow;
    font-weight: 700;
}

